@model IEnumerable<ActiveSense.Tempsense.model.Model.company>

@{
    ViewBag.Title = "Index";
}

<h2>
    <font color="#999">
        Companies
    </font>
</h2>
<hr />
<p>
    @Html.ActionLink("create ", "Create", new { }, new { @class = "btn btn-primary " })
</p>
<div class="table-responsive">
    <table class="table table-striped table-bordered" style="padding-bottom: 60px;">
        <thead>
            <tr class="active">
                <th>
                    Company
                    @*@Html.DisplayNameFor(model => model.Name)*@
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Abrcompany)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th>
                    Notification by mail
                </th>
                <th>
                    SMS notification
                </th>
                <th>
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Abrcompany)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notify_Mail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notify_SMS)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.CompanyID }, new { @class = "btn btn-primary btn-xs " })
                        @Html.ActionLink("Eliminate", "Delete", new { id = item.CompanyID }, new { @class = "btn btn-primary btn-xs " })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@*<script>
        $(document).ready(function () {
            function RenderTable() {

                var objTableMeasuresVisual = $('#tablCompanies');
                objTableMeasuresVisual.show();

                //var ObjContainerPaginatedTable = $('#Paginatedtable');
                alert("entró");
                objTablePaged  = objTableMeasuresVisual.DataTable({
                    "processing": true,
                    "serverSide": true,
                    "searching": false,
                    "destroy": true,
                    "lengthMenu": [10, 15, 20],
                    language: {
                        processing: "Procesando...",
                        search: "ToFind:",
                        lengthMenu: "Mostrar _MENU_ registros",
                        info: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        infoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                        infoFiltered: "(filtrado de un total de _MAX_ registros)",
                        infoPostFix: "",
                        loadingRecords: "Cargando...",
                        zeroRecords: "No se encontraron resultados",
                        emptyTable: "Ningún dato disponible en esta tabla",
                        paginate: {
                            first: "Primero",
                            previous: "Ant",
                            next: "Sig",
                            last: "Último",
                        },
                        aria: {
                            sortAscending: ": Activar para ordenar la columna de manera ascendente",
                            sortDescending: ": Activar para ordenar la columna de manera descendente"
                        }
                    },
                    "columnDefs": [{
                        "orderable": false,
                        "searchable": false,
                        "targets": [0]
                    }, {
                        "orderable": false,
                        "targets": [2, 3, 11, 12]
                    }
                    ]
                });



            }
            //$('#tablCompanies').DataTable();
            RenderTable();
            function listar(){


                var sample_6 = $("#tablCompanies").dataTable();
                sample_6.fnClearTable();
                sample_6.fnDestroy();
                var tabla = "";
                var cont = 0;

                @foreach (var item in Model)
                {

                    <text>

                  tabla += "<tr id='row" + cont + "'>";

                    tabla += "<td><a href='" + (modelItem => item.Name) + "'></a></td>";
                    tabla += " <td>" +" @Html.DisplayFor(modelItem => item.Code)" + "</td>";
                    tabla += " <td>"+ "@Html.DisplayFor(modelItem => item.Correo)"  +"</td>";
                    tabla += " <td>"+ "@Html.DisplayFor(modelItem => item.Active)" +"</td>";
                    tabla += "<td>"+ "@Html.DisplayFor(modelItem => item.Notify_Mail)" +"</td>";
                    tabla += "<td>"+" @Html.DisplayFor(modelItem => item.Notify_SMS) " +"</td>";
                    tabla += "<td>"+ @Html.ActionLink("Edit", "Edit", new { id = item.CompanyID }, new { @class = "btn btn-primary"})+ @Html.ActionLink("Eliminate", "Delete", new { id = item.CompanyID }, new { @class = "btn btn-primary" })+"</td>";
               tabla += "</tr>";
                    cont++;
                    </text>
                }
                $('#tableee').empty();
                $('#tableee').append(tabla);
            }

        });
    </script>*@