@model IEnumerable<ActiveSense.Tempsense.model.Model.company>

@{
    ViewBag.Title = "Index";
}

<h2>
    <font color="#999">
        Department
    </font>
</h2>
<hr />
<p>
    @Html.ActionLink("create ", "Create", new { }, new { @class = "btn btn-primary " })
</p>
<div class="table-responsive">
    <table class="table table-striped table-bordered" style="padding-bottom: 60px;">
        <thead>
            <tr class="active">
                <th>
                    Company
                    @*@Html.DisplayNameFor(model => model.Name)*@
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Abrcompany)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th>
                    Notification by mail
                </th>
                <th>
                    SMS notification
                </th>
                <th>
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Abrcompany)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notify_Mail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notify_SMS)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.CompanyID }, new { @class = "btn btn-primary btn-xs " })
                        @Html.ActionLink("Delete", "Delete", new { id = item.CompanyID }, new { @class = "btn btn-primary btn-xs " })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
