@model IEnumerable<ActiveSense.Tempsense.model.Model.Threshold>

@{
    ViewBag.Title = "Index";
}

<h2>
    <font color="#999">
        Threshold
    </font>
</h2>
<hr />
<p>
    @Html.ActionLink("create", "Create", new { }, new { @class = "btn btn-primary" })
</p>

<div class="table-responsive">
    <table class="table table-striped table-bordered" style="padding-bottom: 60px;">
        <thead>
            <tr class="active">
                <th>
                    Mínimum Temperature
                </th>
                <th>
                    Maximum Temperature
                </th>
                <th>
                    Minimum Tolerance
                </th>
                <th>
                    Maximum Tolerance 
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeviceID)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Temperature_min)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Temperature_max)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tolerance_min)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tolerance_max)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.thresholdID }, new { @class = "btn btn-primary btn-xs" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.thresholdID }, new { @class = "btn btn-primary btn-xs" })
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>